@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Настоящая Политика конфиденциальности (далее – «Политика») применяется к отношениям, связанным с обработкой ООО «Автоклассифайд» данных пользователей интернет-ресурса av.by, мобильных приложений av.by, интернет-ресурса mascot.by, клиентов и подрядчиков ООО «Автоклассифайд», иных субъектов, а также определяет деятельность Общества с ограниченной ответственностью «Автоклассифайд», зарегистрированного по адресу: Республика Беларусь, 220049, г. Минск, ул. Кутузова, д.15, 2-й и 3-й этаж (далее – «Администрация Сайта»), в отношении обработки данных.<br>

    1. Термины и определения<br>

    1.1. Мобильные приложения – программное обеспечение, предназначенное для работы на смартфонах, планшетах и других мобильных устройствах, разработанное для определенной операционной системы (платформы): «av.by – продажа авто в Беларуси» для мобильной операционной системы Android, «av.by – продажа автомобилей» для мобильной операционной системы IOS и «av.by - покупка и продажа авто в Беларуси» для мобильных устройств Huawei.<br>

    1.2. Пользователь Сайта – лицо, прошедшее процедуру регистрации на Сайте.<br>

    1.3. Посетитель Сайта – лицо, которое не прошло процедуру регистрации на Сайте, но осуществляет доступ к Сайту и (или) использует и (или) использовало его.<br>

    1.4. Сайт – интернет-ресурс, расположенный в сети Интернет в домене второго уровня av.by и на всех образованных от него доменах третьего и последующих уровней, mascot.by, иные интернет ресурсы, принадлежащие Администрации Сайта, а также Мобильные приложения.<br>

    1.5. Услуги Администрации Сайта – это любые услуги, сервисы, продукты, программы, мероприятия Администрации Сайта.<br>

    2. Субъекты данных. Категории и объем обрабатываемых данных<br>

    2.1. Администрация Сайта обрабатывает данные, которые могут быть получены от следующих субъектов данных:<br>

    Посетители и Пользователи Сайта, Услуг Администрации Сайта;<br>
    лица, предоставившие Администрации Сайта данные при отправке отзывов, обращений, путём заполнения формы «Обратная связь», анкет в ходе проводимых Администрацией сайта рекламных и иных мероприятий, оформления заявок на кредиты и лизинги на покупку транспортного средства или запчастей для транспортного средства;<br>
    контрагенты и клиенты Администрации Сайта, являющиеся физическими лицами;<br>
    контрагенты и клиенты Администрации Сайта, являющиеся юридическими лицами и индивидуальными предпринимателями;<br>
    работники Администрации Сайта, бывшие работники, кандидаты на занятие вакантных должностей;<br>
    участники и аффилированные лица Администрации Сайта;<br>
    лица, предоставившие персональные данные Администрации Сайта иным образом.<br>
    2.2. Администрация Сайта обрабатывает следующие данные субъектов данных:<br>

    номер телефона;<br>
    адрес электронной почты;<br>
    фамилия, имя, отчество;<br>
    логин;<br>
    история запросов и просмотров Сайта и Услуг Администрации Сайта;<br>
    иная информация (указанный перечень может сокращаться или расширяться в зависимости от конкретного случая и целей обработки).<br>
    2.3. Администрация Сайта также может обрабатывать следующие данные субъектов данных (исключительно в случаях, когда это необходимо для достижения целей обработки таких данных, и когда такие данные предоставляются (предоставлены) субъектами данных):<br>

    место проживания;<br>
    дата рождения;<br>
    место работы;<br>
    род занятий (специальность, область профессиональных знаний);<br>
    пол;<br>
    иная информация (указанный перечень может сокращаться или расширяться в зависимости от конкретного случая и целей обработки).<br>
    2.4. Для корректной работы Услуг Администрации Сайта и составных частей Сайта, а также для анализа работы Сайтов и Услуг Администрации Сайта Администрация Сайта обрабатывает такие данные, как:<br>

    сведения о технических средствах (устройствах), технологическом взаимодействии с Сайтом в том числе:<br>
    IP-адреса;<br>
    информацию о браузере;<br>
    данные из файлов cookies;<br>
    адреса запрошенных страниц;<br>
    время доступа.<br>
    VIN-номер транспортного средства;<br>
    любые текстовые сообщения, фотографические и мультимедийные файлы, оставляемые, размещаемые и(или) загружаемые Посетителями и Пользователями Сайта по их собственной инициативе на составных частях Сайта и при оказании Услуг Администрации Сайта, включая (но не ограничиваясь) комментарии к информационным сообщениям и(или) материалам иных Пользователей̆ Сайта.<br>
    2.5. Администрация Сайта также вправе, в частности, запросить у Пользователя фотографию (копию) оригинального документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, отчество, фотографию Пользователя, а также иную дополнительную информацию, которая по усмотрению Администрации Сайта будет являться необходимой и достаточной для идентификации такого Пользователя и позволит исключить злоупотребления и нарушения прав третьих лиц.<br>

    2.6. Администрация Сайта не осуществляет обработку специальных данных, касающихся расовой, национальной принадлежности, политических взглядов, членства в профессиональных союзах, религиозных и иных убеждений, здоровья, половой жизни, привлечения к административной или уголовной ответственности, за исключением случае, когда субъект сам предоставил такие данные Администрации Сайта, либо они стали известны Администрации Сайта в соответствии с законодательством Республики Беларусь.<br>

    2.7. Субъект данных обязан предоставлять Администрации Сайта достоверные данные и своевременно сообщать Администрации Сайта об изменениях и дополнениях своих данных.<br>

    3. Цели обработки данных<br>

    3.1. Администрация осуществляет обработку данных в следующих целях:<br>

    осуществление предварительной идентификации Пользователя Сайта;<br>
    регистрация и обслуживание аккаунтов субъектов данных на Сайте;<br>
    предоставление доступа Пользователям Сайта к функционалу Сайта;<br>
    оказание субъектам данных Услуг Администрации Сайта;<br>
    информирование о работе Сайта;<br>
    обработка обращений, запросов и заявок, получаемых от субъектов данных;<br>
    осуществление коммуникации с субъектами данных;<br>
    совершение сделок (в том числе подписание договоров) с субъектами данных, их последующее исполнение, а при необходимости – изменение и расторжение (прекращение);<br>
    предоставление информации о деятельности Администрации Сайта, о разработке Администрацией Сайта новых Услуг;<br>
    отправка субъектам данных уведомлений, коммерческих предложений, сообщений рекламно-информационного характера;<br>
    проведение Администрацией Сайта акций, опросов, интервью, тестирований на Сайте и при оказании Услуг Администрации Сайта;<br>
    привлечение кандидатов на занятие вакантных должностей Администрации Сайта;<br>
    ведение кадровой работы и организация учета работников Администрации Сайта;<br>
    формирование статистической отчетности, проведение исследований;<br>
    осуществление хозяйственной деятельности;<br>
    осуществление иных полномочий и обязанностей, возложенных на Администрацию Сайта законодательством Республики Беларусь.<br>
    4. Порядок и условия обработки данных<br>

    4.1. Основанием обработки данных является согласие субъекта данных, за исключением случаев, установленных законодательством Республики Беларусь, когда обработка данных осуществляется без получения такого согласия, а также договорные взаимоотношения между Администрацией Сайта и субъектом данных.<br>

    4.2. Согласие субъекта данных представляет собой свободное, однозначное, информированное выражение его воли, посредством которого он разрешает обработку своих данных.<br>

    Отказ субъекта данных дать согласие на обработку своих данных дает Администрации Сайта право отказать такому субъекту данных в предоставлении доступа к Сайту и (или) в оказании Услуг Администрации Сайта.<br>

    4.3. Обработка Администрацией Сайта данных включает в себя следующие действия с данными: сбор, систематизация, хранение, изменение, использование, обезличивание, блокирование, распространение, предоставление, удаление, иные действия, в соответствии с законодательством Республики Беларусь.<br>

    4.4. Способы обработки данных Администрацией Сайта:<br>

    неавтоматизированная обработка данных;<br>
    автоматизированная обработка данных с передачей полученной информации по информационно-телекоммуникационным сетям или без такой передачи;<br>
    смешанная обработка данных.<br>
    4.5. Хранение данных осуществляется не дольше, чем этого требуют цели обработки данных, кроме случаев, когда определенный срок хранения данных установлен законодательством Республики Беларусь, договором, заключенным (заключаемым) с субъектом данных, в целях совершения действий, установленных этим договором.<br>

    4.6. Обработка данных субъектов данных прекращается с:<br>

    достижением целей обработки данных;<br>
    истечением срока обработки данных;<br>
    отзывом согласия субъектом данных на обработку его (ее) данных;<br>
    выявлением неправомерной обработки данных.<br>
    4.7. При обработке данных Администрация Сайта принимает необходимые правовые, организационные и технические меры по обеспечению защиты данных от несанкционированного или случайного доступа к ним, изменения, блокирования, копирования, распространения, предоставления, удаления данных, а также от иных неправомерных действий в отношении данных.<br>

    5. Файлы cookie<br>

    5.1. Для улучшения работы Сайта и повышения удобства его использования Администрация Сайта может использовать файлы cookie. Cookie – это текстовый файл, хранящийся в браузере Посетителя или Пользователя Сайта. Администрация Сайта использует необходимые, аналитические, функциональные и рекламные файлы cookie.<br>

    5.2. В настоящей Политике используется общий термин «файлы cookie» для обозначения всех технологий, которые автоматически собирают информацию, когда Посетители и Пользователи используют Сайт.<br>

    5.3. Необходимые файлы cookie используются Администрацией Сайта для правильного функционирования Сайта и корректного использования предлагаемых на нем возможностей и услуг.<br>

    5.4. Аналитические файлы cookie необходимы в статистических целях, помогают улучшить производительность Сайта и сделать его более удобным для пользования.<br>

    5.5. Функциональные файлы cookie позволяют перемещаться по Сайту и в полной мере использовать его возможности.<br>

    5.6. Рекламные файлы cookie используются для целей маркетинга и рекламы Сайта и Услуг Администрации Сайта, в контекстно-медийной сети Яндекс и Google. В частности, Администрация Сайта применяет следующие инструменты, которые подразумевают использование рекламных файлов cookie: Google Analytics и Яндекс.Метрика.<br>

    5.7. У Посетителей и Пользователей Сайта есть возможность включить либо выключить использование файлов cookie, кроме файлов, которые считаются необходимыми, путем изменения настроек своего браузера.<br>

    Как правило, это можно сделать в разделе меню "Параметры" или "Настройки" браузера. Дополнительную информацию по отключению сбора файлов cookie можно найти в разделе "Справка" непосредственно в браузере, а также по приведенным ниже ссылкам:<br>

    Параметры файлов cookie в браузере Internet Explorer<br>
    Параметры файлов cookie в браузере Firefox<br>
    Параметры файлов cookie в браузере Chrome<br>
    Параметры файлов cookie в браузере Safari<br>
    6. Доступ третьих лиц к данным<br>

    6.1. Администрация Сайта в случае необходимости для достижения целей обработки, указанных в настоящей Политике, вправе передавать данные перечисленным ниже третьим лицам, а также иным третьим лицам с соблюдением требований законодательства Республики Беларусь:<br>

    Яндекс Метрика – сервис веб-аналитики, предоставляемый ООО «Яндекс». Адрес: г. Москва, ул. Льва Толстого, д. 16, 119021. Политика конфиденциальности Яндекс.<br>
    Google Analytics – сервис веб-аналитики, предоставляемый компанией Google, Inc. Адрес: Google, Google Data Protection Office, 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA. Политика конфиденциальности Google.<br>
    Gemius Audience – сервис веб-аналитики, предоставляемый компанией Gemius SA. Компания, координирующая Исследование в Беларуси - ООО «Бестозар», адрес: Республика Беларусь, 220113, г. Минск, ул. Мележа, д. 1, комн. 1307, кабинет 4. Политика конфиденциальности Gemius SA.<br>
    Hyppercomments – сервис, позволяющий оставлять комментарии под статьями и иными материалами на Сайте, предоставляемый Middleware Inc. Адрес: 251 Little Falls Drive, Wilmington, New Castle Country, 19808, USA. Политика конфиденциальности Middleware Inc.<br>
    Реестр движимого имущества, обремененного залогом Республики Беларусь - позволяет получить информацию о транспортном средстве по VIN-номеру. Оператором и владельцем Реестра определено научно-инженерное республиканское унитарное предприятие «Институт прикладных программных систем» (НИРУП «ИППС»). Адрес: 220013 г. Минск, ул. Беломорская, 18.<br>
    Freshdesk – сервис, помогающий обеспечивать эффективную и удобную техническую поддержку Пользователей и Посетителей Сайта во всех каналах, а также модерацию объявлений, предоставляется Freshworks Inc. Адрес: 2950 S. Delaware Street, Suite 201, San Mateo CA 94403. Политика конфиденциальности Freshworks Inc.<br>
    Bamboo – сервис для адресной SMS-рассылки, предоставляемый ООО «Бамбу Груп Бай». Адрес: 220076, Беларусь, г. Минск, ул. Ф.Скорины, 15Б-2, №12. Политика конфиденциальности ООО «Бамбу Груп Бай».<br>
    Mailchimp – сервис email-рассылок, предоставляемый Rocket Science Group, LLC. Адрес: 675 Ponce de Leon Ave NE, Suite 5000, Atlanta, GA 30308 USA. Политика конфиденциальности Mailchimp.<br>
    Sales Creatio – система управления бизнесом (CRM-система), предоставляемая ООО «Террасофт центр». Адрес: Россия, 115280, г. Москва, ул. Ленинская Слобода д. 26, стр. 5, офис 5401, БЦ «Симонов Плаза». Политика конфиденциальности ООО «Террасофт центр».<br>
    6.2. Администрация Сайта также вправе передавать данные соответствующим третьим лицам, когда у Администрация Сайта есть основание полагать, что она обязана сделать это в силу закона.<br>

    6.3. При этом Администрация Сайта без согласия субъекта данных не раскрывает третьим лицам и не распространяет такие данные, если иное не предусмотрено законодательством Республики Беларусь.<br>

    7. Механизм реализации прав субъектов данных<br>

    7.1. Субъект данных вправе отозвать свое согласие на обработку своих персональных данных:<br>

    7.1.1. в форме подачи Администрации Сайта заявления в письменной форме, направленного заказным почтовым отправлением, либо в виде электронного документа (в соответствии с законодательством Республики Беларусь электронным документом считается исключительно документ, подписанный электронной цифровой подписью). Заявление должно содержать:<br>

    фамилию, имя, отчество субъекта данных;<br>
    адрес места жительства (места пребывания);<br>
    дату рождения;<br>
    идентификационный номер или иные паспортные данные (в случае если указывались при даче согласия или обработка данных осуществлялась без согласия субъекта данных);<br>
    изложение сути требования;<br>
    личную или электронную цифровую подпись.<br>
    Администрация Сайта в течение 15 (Пятнадцати) дней с момента получения заявления прекращает обработку персональных данных (если нет оснований для обработки в соответствии с законодательством), осуществляет удаление, при отсутствии технической возможности удаления – принимает меры по недопущению дальнейшей обработки таких данных, включая блокировку аккаунтов, и уведомляет об этом субъекта данных в тот же срок.<br>

    7.1.2. либо в форме, посредством которой получено его согласие (для Пользователей Сайта - соответствующее изменение настроек в своем личном кабинете на Сайте). Администрация Сайта в течение 15 (Пятнадцати) дней прекращает обработку персональных данных (если нет оснований для обработки в соответствии с законодательством), осуществляет удаление, при отсутствии технической возможности удаления – принимает меры по недопущению дальнейшей обработки таких данных, включая блокировку аккаунтов, и уведомляет об этом субъекта данных в тот же срок.<br>

    7.2. Субъект данных вправе требовать от Администрации Сайта внесения изменений в свои данные в случае, если такие данные являются неполными, устаревшими или неточными. В этих целях субъект данных подает Администрации Сайта заявление в порядке, установленном п. 7.1.1 настоящей Политики с приложением соответствующих документов и (или) их заверенных в установленном порядке копий, подтверждающих необходимость внесения изменений в такие данные.<br>

    7.3. Субъект данных вправе получать от Администрации Сайта информацию о предоставлении своих персональных данных третьим лицам один раз в календарный год, если иное не предусмотрено законодательством Республики Беларусь. Для получения указанной информации субъект данных подает заявление Администрации Сайта в порядке, предусмотренном в п. 7.1.1 настоящей Политики.<br>

    Администрация Сайта в течение 15 (Пятнадцати) дней после получения заявления предоставляет субъекту данных информацию о том, какие данные этого субъекта и кому предоставлялись в течение года, предшествующего дате подачи заявления, либо уведомляет о причинах отказа предоставить такую информацию.<br>

    7.4. Субъект данных вправе получать от Администрации Сайта информацию, касающуюся обработки своих персональных данных, содержащую:<br>

    наименование и место нахождения Администрации Сайта;<br>
    подтверждение факта обработки персональных данных Администрацией Сайта;<br>
    его (ее) персональные данные и источник их получения;<br>
    правовые основания и цели обработки персональных данных;<br>
    срок, на который дано согласие;<br>
    наименование и место нахождения лица (организации), которому Администрация Сайта передает его (ее) персональные данные для обработки;<br>
    иную информацию, предусмотренную законодательством.<br>
    посредством подачи Администрации Сайта заявления в порядке, предусмотренном п. 7.1.1 настоящей Политики.<br>

    Администрация Сайта в течение пяти рабочих дней после получения такого заявления предоставляет субъекту данных информацию, указанную в ч. 1 п. 7.4 настоящей Политики, либо уведомляет его (ее) о причинах отказа в ее предоставлении.<br>

    При этом информация, указанная в ч. 1 п. 7.4 настоящей Политики, не предоставляется, если персональные данные могут быть получены любым лицом посредством доступа к Сайту.<br>

    7.5. Субъект данных вправе требовать от Администрации Сайта прекращения обработки своих персональных данных, включая их удаление, при отсутствии оснований для обработки таких персональных данных, посредством подачи Администрации Сайта заявления в порядке, предусмотренном п. 7.1.1 настоящей Политики.<br>

    Администрация Сайта в течение 15 (Пятнадцати) дней после получения такого заявления прекращает обработку персональных данных (если нет оснований для обработки в соответствии с законодательством), осуществляет их удаление, при отсутствии технической возможности удаления – принимает меры по недопущению дальнейшей обработки персональных данных, включая их блокировку, и уведомляет об этом субъекта данных в тот же срок.<br>

    7.6. В случае возникновения иных вопросов, субъекты данных могут задать их Администрачии Сайта с соблюдением порядка, предусмотренного п. 7.1.1 настоящей Политики, или заполнив форму «Обратная связь».<br>

    8. Заключительные положения<br>

    8.1. Вопросы, касающиеся обработки данных, не закрепленные в настоящее Политике, регулируются законодательством Республики Беларусь.<br>

    8.2. В случае, если какое-либо положение настоящей Политики признается противоречащим законодательству Республики Беларусь, остальные положения Политики остаются в силе и являются действительными, а любое недействительное положение признается удаленным и (или) измененным в той мере, в какой это необходимо для обеспечения его соответствия законодательству Республики Беларусь.<br>
</p>
